#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

#navbar h2 a {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

#navbar form {
  display: flex;
  gap: .5rem;
}

#navbar form input {
  padding: .2rem .8rem;
  border-radius: 4px;
  border: none;
}

#navbar form button {
  background-color:  #f7d354;
  border: 1px solid #f7d354;
  border-radius: 4px;
  color: #000;
  padding: .3rem;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s;
}

#navbar form button:hover {
  background-color: transparent;
  color: #f7d354;
}

/* Categorias */

.categorias {
  position: relative;
  color: black;
  background-color: #f7d354;
  font-size: 1.2rem;
  border-radius: 4px;
  text-align: center;


}

.categorias span {
  width: 100%;
  padding: 1.2rem;
}


.dropdown {
  position: absolute;
  display: none;
  width: 100%;
  background-color: #f7d354;
  color: black;
}

.dropdown p {
  padding: .4rem;
}

.dropdown p:not(:last-child) {
  border-bottom: black;
}


.categorias:hover .dropdown {
  display: block;
}

.categorias:hover {
  background-color: #c9b671;
  cursor: default;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.dropdown p:hover {
  background-color: #c9b671;
  cursor: pointer;
}
